<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <title>Hello, pybo!</title>
</head>
<body>
<!--내비게이션바-->
{% include "navbar.html" %}

<!--이하 내용은 base.html 파일을 상속한 템플릿에서 구현-->
{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='test.js')}}"></script>
</body>
</html>